:root {
    --primary-color: #0095B6;  
    --secondary-color: #E2CFEA; 
    --accent1-color: #D90368; 
    --accent2-color: rgb(192, 201, 153);
    --heading-font: "Montserrat";
    --text-font: "Roboto"; 
}
*{
    margin: 0px;
    padding: 0px;
}

header {
    margin: 10px;
    padding: 0;
    font-family: var(--text-font),sans-serif;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

header img{
    grid-column: 2/3;
}

header nav{
    grid-column: 4/8; 
}

.menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    list-style: none;

}


.menu li{
    flex: 1 1 auto;
}

.menu a{
    display: block;
	color: black;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}
.menu a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}


h1 {
    margin: 10px;
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: var(--accent1-color);
    text-align: center;
}

h2 {
    margin: 1.2em;
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: var(--accent1-color)
}

p {
    padding: 2.5em;
    font-family: var(--text-font),sans-serif;
    text-align: justify;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    font-size: 5em;
}

.hero article {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 75%;
    padding: 20px;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.5);

}

.hero article img{
    float: right;
    margin-left: 15px;
    width: 200px;
    height: auto;
}

section{
    clear: both;
}

.history img {
    width: 600px;
    height: 400px;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}

.history h2{
    grid-column: 1/4;
    justify-self: center;
}

.adventure{
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
}

.adventure h2{
    grid-column: span 5;
    justify-self: center;
}

.adventure figure img{
    max-width: fit-content;
    width: 150px;
    height: auto;
}

.adventure figcaption{
    font-family: var(--text-font),sans-serif;
    text-align: center;
}

.sociallinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.sociallinks a{
    text-decoration: none;
    padding: 0.5em;
}

.contact {
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 250px;
    background-color: #0095b648;
    border-radius: 0.5rem;
    

}

.contact p{
    font-family: var(--heading-font), Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.contact iframe{
    border-radius: .5rem;
    border: 3px solid var(--primary-color);
    width: 600px;
    height: 400px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.team img {
    height: 400px;
    width: auto;
    border: 5px solid var(--accent2-color);
    border-radius: 0.5rem;
}

.team figcaption{
    font-family: var(--heading-font), Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

form{
    margin: 2em;
    font-family: var(--text-font);
    
}

fieldset{
    padding: 1.5em;
    border: 5px solid var(--accent1-color);
    border-radius: .5rem;
    font-size: 1.1em;
}

fieldset legend{
    font-size: 1.5em;
    padding: 0.5em;
}

fieldset label{
    padding: 0.5em;
}

fieldset p{
    margin: 0;
    padding: 0.5em;
    font-size: 1.2em;
    text-align: left;
}

.form-item{
    padding: 0.30em;
}

.message{
    display: grid;
}

.message textarea{
    width: 600px;
    height: 200px;
}



button {
    margin: 1rem;
    background-color: #dddddd;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: .3rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    color: #fff;
    background-color: var(--accent1-color);
}

.home{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
    
.home img {
    display: block;
    width: 100%;        
    height: auto;
    margin:0;
    padding:0;
}

.home h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    color: white;
    /* background-color: rgba(0,0,0,0.5); */
    font-size: 5em;
}

.newsletter fieldset{
    border-color: var(--accent2-color);
}

.c2a{
    position: absolute;
    top: 45%;
    left: 50%;
    width:60%;
    font-size: 1.3em;
    transform: translate(-50%, -50%);
    background-color: rgba(192, 201, 153, .8);
    border: 5px solid white;
    border-radius: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.c2a a{
    margin-bottom: 2em;
    border: 3px solid var(--accent1-color);
    border-radius: 2em;
    padding: 0.5em;
    background-color: white;
    font-family: var(--heading-font), Helvetica, sans-serif;

}

.trips{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: auto 4em;
    padding: 2em;
    border-radius: 2em;

}

.top3{
    display: flex;
    flex-direction: column;
}

.top3 figure{
    display:flex;
    align-items: center;
}

.top3 img{
    height: 200px;
    width: auto;
    margin-bottom: 0.5em;
    border: 5px solid var(--accent2-color);
    border-radius: 0.5rem;
}

.top3 h1{
    font-size: 60px;
}

.top3 h2{
    text-align: center;
    padding: 0;
    margin: 0;
    color: Black;
}

.trip{
    background-color: rgb(226, 231, 201);
    padding: 5px;
    margin-right: 30px;
}


.contactlink{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 8px solid var(--accent2-color);
    border-radius: 2em;
}

.contactlink h1{
    font-size: 50px;
    color:rgb(138, 145, 108);
}

.button{
    font-size: 40px;
    margin-bottom: 2em;
    border: 3px solid var(--accent2-color);
    border-radius: 1em;
    padding: 0.5em;
    background-color: white;
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: rgb(138, 145, 108);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: var(--text-font), sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  thead{
    background-color:#e2e7c9;
  }
  
  th,
  td {
    border: 1px solid var(--accent2-color);
    padding: 8px 10px;
  }
 
  tbody > tr:nth-of-type(even) {
    background-color:rgb(249, 250, 243);
  }
  





