:root {
    --primary-color: #0095B6;  
    --secondary-color: #E2CFEA; 
    --accent1-color: #D90368; 
    --accent2-color: #C0C999;
    --heading-font: "Montserrat";
    --text-font: "Roboto"; 
}
*{
    margin: 10px;
}

header {
    font-family: var(--text-font),sans-serif;
}

h1 {
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: var(--primary-color)
}

h2 {
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: var(--accent2-color)
}

p {
    font-family: var(--text-font),sans-serif;
}

.hero {
    position:relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    font-size: 5em;
}

.hero article {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 75%;
    padding: 20px;
    font-size: 1.5rem;
    background-color: rgb(255,255,255,0.5);

}

.hero article img{
    float: right;
    margin-left: 15px;
    width: 200px;
    height: auto;
}

section{
    clear: both;
}

section img {
    width: 600px;
    height: 400px;
}

.sociallinks a{
    text-decoration: none;
}