:root {
    --primary-color: #0095B6;  
    --secondary-color: #E2CFEA; 
    --accent1-color: #D90368; 
    --accent2-color: #C0C999;
    --heading-font: "Montserrat";
    --text-font: "Roboto"; 
}
*{
    margin: 10px;
}

header {
    font-family: var(--text-font),sans-serif;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

header img{
    grid-column: 2/3;
}

header nav{
    grid-column: 4/8; 
}
.menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    list-style: none;

}


.menu li{
    flex: 1 1 auto;
}

.menu a{
    display: block;
	color: black;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}
.menu a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}

h1 {
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: var(--primary-color)
}

h2 {
    font-family: var(--heading-font), Helvetica, sans-serif;
    color: var(--accent1-color)
}

p {
    font-family: var(--text-font),sans-serif;
}

.hero {
    position:relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    font-size: 5em;
}

.hero article {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 75%;
    padding: 20px;
    font-size: 1.5rem;
    background-color: rgba(255,255,255,0.5);

}

.hero article img{
    float: right;
    margin-left: 15px;
    width: 200px;
    height: auto;
}

section{
    clear: both;
}

.history img {
    width: 600px;
    height: 400px;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}

.history h2{
    grid-column: 1/4;
    justify-self: center;
}

.adventure{
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
}

.adventure h2{
    grid-column: span 5;
    justify-self: center;
}

.adventure figure img{
    max-width: fit-content;
    width: 150px;
    height: auto;
}

.adventure figcaption{
    font-family: var(--text-font),sans-serif;
    text-align: center;
}

.sociallinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.sociallinks a{
    text-decoration: none;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 250px;
    background-color: #0095b648;
    border-radius: 0.5rem;
    

}

.contact p{
    font-family: var(--heading-font), Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

.contact iframe{
    border-radius: .5rem;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.team img {
    height: 400px;
    width: auto;
    border: 5px solid var(--accent2-color);
    border-radius: 0.5rem;
}

.team figcaption{
    font-family: var(--heading-font), Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

form{
    font-family: var(--text-font);
    
}

fieldset{
    border: 5px solid var(--accent1-color);
    border-radius: .5rem;
    font-size: 1.1em;
}

fieldset legend{
    font-size: 1.5em
}

fieldset p{
    font-size: 1.2em;
}

.message textarea{
    width: 600px;
    height: 200px;
}

button {
    margin: 1rem;
    background-color: #dddddd;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: .3rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    color: #fff;
    background-color: var(--accent1-color);
}